# Follow_symlinks isnt released in 6.0.0 yet, so we use the latest current commit
watchdog @ git+https://github.com/gorakhargosh/watchdog.git@f3e78cd4d9500d287bd11ec5d08a1f351601028d

mock==5.0.1
pytest==7.2.1
pytest-xdist==3.2.0
tox==4.4.5
black==23.1.0
pre-commit==2.21.0
pygobject
pygobject-stubs
dasbus==1.7
