Source: nginx-config-reloader
Maintainer: Maarten van Schaik <maarten@byte.nl>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), python, python-pyinotify, python-setuptools
X-Python-Version: >= 2.6

Package: nginx-config-reloader
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pyinotify
Description: nginx config files reloader
 Daemon that installs and reloads nginx configuration

