Source: nginx-config-reloader
Maintainer: Hypernode Tech Team <tech.team@hypernode.com>
Section: misc
Priority: optional
Standards-Version: 4.7.2
Build-Depends: debhelper-compat (= 13), python3, python3-watchdog, python3-setuptools, dh-python
X-Python3-Version: >= 3.11

Package: nginx-config-reloader
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-watchdog, python3-dasbus
Description: nginx config files reloader
 Daemon that installs and reloads nginx configuration
