name: Run tests

on:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os || 'ubuntu-24.04' }}
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libgirepository1.0-dev libgirepository-2.0-dev libcairo2-dev -y
          pip install -r requirements.txt
          pip install tox-gh-actions
      - name: Test with tox
        run: tox
